@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    User user = null;
    if (Context.Session.GetString("user") != null)
    {
        user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("user"));
    }
    List<CartItemDetail> cartList = null;
    if (Context.Session.GetString("cart") != null)
    {
        cartList = JsonConvert.DeserializeObject<List<CartItemDetail>>(Context.Session.GetString("cart"));
    }


}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<header id="main-header">
    <div class="grid wide">
        <div class="header" id="header">
            <nav class="header-nav">
                <ul>
                    <li class="logo">
                        <a href="../Home/index">
                            <img src="~/image/logo.png" alt="">

                        </a>
                    </li>

                    <li class="menu">
                        <div class="menu__mobile" id="menu__mobile">
                            <p class="menu__mobile-click hide-on-pc hide-on-tablet">
                                <i class="fas fa-bars"></i>
                                Danh mục
                            </p>


                            <ul class="menu-list">
                                <div class="login__mobile hide-on-tablet hide-on-pc">
                                    <a asp-controller="User" asp-action="DangNhap">
                                        Đăng nhập
                                        <i class="fas fa-user-circle"></i>
                                    </a>
                                </div>
                                <li><a href="">GIỚI THIỆU</a></li>
                                <li class="menu-list__products">
                                    <a href="/product/ShowProductsCate?page=1&cate_id=2">
                                        <span>NỮ</span>
                                        <!-- <i class="fas fa-angle-down"></i> -->
                                    </a>
                                    <ul class="subMenu-list">
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=4">Sneaker</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=5">Giày bốt</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=6">Cao gót</a></li>
                                    </ul>

                                </li>
                                <li class="menu-list__products">
                                    <a href="/product/ShowProductsCate?page=1&cate_id=1">
                                        <span>NAM</span>
                                        <!-- <i class="fas fa-angle-down"></i> -->
                                    </a>
                                    <ul class="subMenu-list">
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=1">Sneaker</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=2">Giày bốt</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=3">Sandal</a></li>
                                    </ul>
                                </li>
                                <li class="menu-list__products">
                                    <a href="/product/Sale" class="highlight">
                                        <span>SALE</span>
                                        <!--<i class="fas fa-angle-down"></i> -->
                                    </a>
                                    <ul class="subMenu-list">
                                        <li><a href="/product/SaleWoman">Nữ</a></li>
                                        <li><a href="/product/SaleMan">Nam</a></li>
                                    </ul>
                                </li>
                                <li><a href="../Home/News">TIN TỨC</a></li>
                                <li><a href="../Home/About">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="others">
                        <ul class="others-list">
                            <li class="hide-on-mobile">
                                <div class="header-search">
                                    <input id="load_input" name="keyword" type="text" placeholder="Tìm kiếm" title="Tìm kiếm">
                                    <a id="click_me">
                                        <button type="button" title="Tìm kiếm">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </a>

                                </div>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-paw" title="Tra cứu đơn hàng"></i>
                                </a>
                            </li>
                            <li class="hide-on-mobile search-cart--wrap">
                                <a asp-controller="User" asp-action="DangNhap">
                                    <i class="fas fa-user" title="Đăng nhập"></i>
                                </a>
                                <div class="cart__list hide-on-mobile">
                                    @if(user == null)
                                    {
                                        <p>Bạn chưa đăng nhập</p>
                                        <a asp-controller="User" asp-action="DangNhap">Đăng nhập</a>
                                    }
                                    else
                                    {
                                        <p>Chào mừng @user.Fullname</p>
                                        <p>Id = @user.ID</p>
                                        <a asp-controller="User" asp-action="DangXuat">Đăng xuất</a>
                                    }
                                </div>
                            </li>
                            <li class="search-cart--wrap">
                                <a href="">
                                    <i class="fa fa-shopping-bag"></i>
                                </a>
                                <div class="cart__list hide-on-mobile">
                                    @if (Context.Session.GetString("cart") == null)
                                    {
                                        <img class="no-cart" src="./assets/img/no_cart.png" alt="">
                                        <span class="cart__list--empty">Chưa Có Sản Phẩm</span>

                                    }
                                    else
                                    {
                                        <p class="cart__list-header">Sản Phẩm Mới Thêm</p>
                                        <ul class="cart__list-list">
                                            @foreach (CartItemDetail item in cartList)
                                            {
                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/" alt="">


                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">@item.ProductName</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">@String.Format("{0:0,0;0} VND", item.PricePerUnit)</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">@item.Quantity</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: @item.ColorName</span>
                                                                    <span class="cart__list-item-size">Size: @item.SizeName</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                        }

                                            @*<p class="cart__list-header">Sản Phẩm Mới Thêm</p>
                                            <ul class="cart__list-list">
                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu.jpg" alt="">


                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH BATA 4066 JEAN XANH BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">2.070.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">2</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-2.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">80.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-3.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">150.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-4.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">2.070.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">2</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH </h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">80.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-2.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">150.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-3.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">2.070.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">2</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-4.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">80.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>*@

                                            <div class="cart__list-footer">
                                                <button class="btn-submit ">Xem Giỏ Hàng</button>
                                            </div>
                                    </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>


    var load = document.getElementById('click_me');
    var input_value = document.getElementById('load_input').value;
    console.log(input_value);
    load.onclick = function () {
        var str = "/product/SearchProductByName?page=1&keyword=" + document.getElementById('load_input').value;
        document.getElementById('click_me').setAttribute('href',str)
    };


</script>
