@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProductObject
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<link href="~/css/product_detail.css" rel="stylesheet" />

<div class="product-detail">
    <div class="grid wide ">
        <div class="row">
            <div class="col l-12 m-12 c-0">
                <div style="margin-bottom:20px;" class="product-top">
                    <a href="../home/index">Trang chủ </a><span>&rarr;</span>
                    <a href="/product/ShowProductsCate?page=1&cate_id=@Model.Category_id"> @Model.CategoryName </a><span>&rarr;</span>
                    <a href="/product/ShowProducts?page=1&subcate_id=@Model.Subcategory_id"> @Model.SubcategoryName </a><span>&rarr;</span>
                    <a href="" style="color: red; font-weight:700;"> @Model.ProductName</a>
                </div>

            </div>




            <div class="product-content row">
                <div class="col l-6 m-6 c-12 product-content-left ">

                    <div class="col l-10 m-10 c-10">
                        <div class="product-content-left-big-img img-big">
                            <img id="img_big" src="~/image/product_img/@Model.Product_detail_big_img_1" alt="">
                        </div>
                    </div>

                    <div class="col l-2 m-2 c-2">
                        <div id="img_detail" class="product-content-left-small-img ">
                            <img class="img_1" src="~/image/product_img/@Model.Product_detail_img_1" alt="">
                            <img class="img_2" src="~/image/product_img/@Model.Product_detail_img_2" alt="">
                            <img class="img_3" src="~/image/product_img/@Model.Product_detail_img_3" alt="">
                            <img class="img_4" src="~/image/product_img/@Model.Product_detail_img_4" alt="">
                            <img class="img_5" src="~/image/product_img/@Model.Product_detail_img_5" alt="">
                            <img class="img_6" src="~/image/product_img/@Model.Product_detail_img_6" alt="">
                        </div>
                    </div>



                </div>

                <div class="col l-6 m-6 c-12 product-content-right">
                    <div class="product-content-right-name">
                        <h1>@Model.ProductName</h1>
                        <p style="margin:20px 0px; font-size:14px;">MSP: @Model.ProductTag</p>
                    </div>
                    <div class="product-content-right-price">
                        <p><span style="font-size:14px; color:rgb(153,153,153); text-decoration:line-through; font-weight:400;">4000<sup>đ </sup></span><span style="font-size:19px">795.000</span><sup>đ</sup></p>

                    </div>
                    <div class="product-content-right-color">
                        <p style="font-weight:700; font-size:14px;">
                            Màu sắc: <span style="color:rgb(153,153,153);">@Model.ColorName</span>

                        </p>
                        @{int color_url = Convert.ToInt32(Context.Request.Query["color_id"]); //Lấy parameter page trên url
                            int productid_url = Convert.ToInt32(Context.Request.Query["product_id"]);
                            <div class="product-content-right-color-img img-color  ">
                                @foreach (var item in ViewBag.ShowColorProduct)
                                {

                                    <li style="list-style:none;" class="li-color li-default-border" value="@item.Id"><a class="li-active" href="/product/ShowProductDetailObject?color_id=@item.Id&product_id=@Model.ProductId"> <img class="img-product-color" style="border-radius:50% ; " src="~/image/product_color/@item.ColorImage" alt=""></a></li>
                                }


                            </div>
                        }
                    </div>
                    <div class="product-content-right-size">
                        <p style="font-weight:700; font-size:14px;">
                            <input type="hidden" id="size-id" />
                            <span>Size: <span id="load_size"></span></span>
                        </p>
                        <ul class="size" id="my-li-size">
                            @foreach (var item in ViewBag.GetSizeByID)
                            {
                                <li tabindex="0" class="size-name  li-border-size" id="size-name-@item.Id" style="cursor: pointer; " value="@item.Id">@item.SizeName</li>
                            }

                        </ul>

                    </div>
                    <div class="product-content-right-quantity row">
                        <p style="font-weight:700; font-size:14px;">Số lượng: </p>
                        <span class="btn_minus btn_buy" id="btn_minus_id"><i class="fa fa-minus"></i></span>
                        <input id="input_quantity" type="number" min="1" value="1">
                        <span class="btn_plus btn_buy" id="btn_plus_id"><i class="fa fa-plus"></i></span>

                        <!-- <p style="color:red;">Vui lòng chọn size *</p> -->
                    </div>
                    <p id="check_size_empty"></p>
                    <div class="product-content-right-button ">
                        <a style="width:200px;" id="add-to-cart" class="btn_buy">
                            <i class="fas fa-shopping-bag"></i>
                            <p style="position: relative; bottom:-2px;">THÊM VÀO GIỎ HÀNG</p>
                        </a>
                        <a style="width:200px;" class="btn_buy" href="Thanhtoan">
                            <p style="text-align:center; transform:translateY(50%);">MUA NGAY</p>

                        </a>
                    </div>
                    <div class=" product-content-right-icon  ">
                        <div class="   product-content-right-icon-item ">
                            <i class="fas fa-phone-alt"></i>
                            <p>Hotline</p>
                        </div>
                        <div class=" product-content-right-icon-item ">
                            <i class="far fa-comments"></i>
                            <p>Chat</p>
                        </div>
                        <div class=" product-content-right-icon-item">
                            <i class="far fa-envelope"></i>
                            <p>Mail</p>
                        </div>

                    </div>
                    <!-- <div class="product-content-right-qr">
                        <img src="" alt="">
                    </div> -->
                    <div class="product-content-right-bottom">
                        <div class="product-content-right-bottom-top">
                            <i class="fas fa-chevron-down" style="position: relative; top:2px;"></i>
                        </div>
                        <div class="product-content-right-bottom-content">
                            <div class="product-content-right-bottom-content-title ">
                                <div class="product-content-right-bottom-content-title-item-detail detail-product border-detail">
                                    <p>Chi tiết sản phẩm</p>
                                </div>
                                <div class="product-content-right-bottom-content-title-item-gurantee guarantee-product ">
                                    <p>Chính sách bảo hành</p>
                                </div>
                                <!-- <div class="product-content-right-bottom-content-title-item">
                                         <p>Tham khảo size</p>
                                </div> -->
                            </div>
                            <div class="product-content-right-bottom-content-description">
                                <div class="product-content-right-bottom-content-description-detail ">
                                    <div class="product-content-right-bottom-content-description-detail-summary ">
                                        <div class="product-content-right-bottom-content-description-detail-summary-right">

                                            <p>Model</p>
                                            <p>Giới tính</p>
                                            <p>Season</p>
                                            <p>Thương hiệu</p>

                                        </div>
                                        <div class="product-content-right-bottom-content-description-detail-summary-left">

                                            <p>@Model.ProductTag</p>
                                            <p id="gender-name"></p>
                                            <p>SS21</p>
                                            <p>@Model.BrandName</p>
                                        </div>

                                    </div>
                                    <p class="product-content-right-bottom-content-description-detail-title">
                                        <b>
                                            Mô Tả
                                            Sản Phẩm
                                        </b>
                                    </p>
                                    • Chất liệu: Sợi vải và cao su đàn hồi chịu nhiệt tốt.<br><br>
                                    • Thiết kế: Thân giày bằng vải lưới, thoải mái và thoáng khí, thiết kế kiểu dáng đơn
                                    giản, điều chỉnh dáng chân. Sử dụng công nghệ eye piece body film, nâng cao cảm giác
                                    chất lượng cho người mang. Đế ngoài IP hoàn toàn mới, mềm mại và êm ái.<br><br>
                                    • Phù hợp:Vui chơi dạo phố, tiệt tùng, đi làm hay tập luyện thể thao nhẹ
                                    nhàng.<br><br>
                                    • Xuất xứ thương hiệu: Italia
                                </div>
                                <div class="product-content-right-bottom-content-description-guarantee ">
                                    <b>(1) Phạm vi áp dụng </b><br><br>

                                    Áp dụng đối với sản phẩm phân phối tại hệ thống cửa hàng toàn quốc của Hoàng Phúc
                                    Quốc Tế, thông qua trang thương mại điện tử tại địa chỉ https://hoang-phuc.com/ và
                                    đối tác (hợp pháp) trên lãnh thổ Việt Nam do Hoàng Phúc Quốc Tế chỉ định tuỳ từng
                                    thời điểm.<br><br>

                                    <b> (2) Điều kiện áp dụng</b><br><br>
                                    <table>
                                        <tr>
                                            <th>Sản phẩm áp dụng</th>
                                            <th>Phạm vi bảo hành</th>
                                            <th>Thời gian bảo hành</th>
                                        </tr>
                                        <tr>
                                            <td><b>Sản phẩm nguyên giá và sản phẩm có mức giảm giá thấp hơn 70%</b></td>
                                            <td>Keo chỉ</td>
                                            <td>180 ngày</td>
                                        </tr>
                                        <tr>
                                            <td><b>Sản phẩm giảm giá từ 70%</b></td>
                                            <td>Không áp dụng bảo hành</td>
                                            <td>Không áp dụng bảo hành</td>
                                        </tr>

                                    </table>
                                    <br><br>
                                    (1) Điều kiện Bảo Hành: sản phẩm còn trong thời gian bảo hành. Ngoài thời gian Bảo
                                    Hành, khách hàng có nhu cầu vui lòng sử dụng dịch vụ (tính phí) của Trung Tâm Bảo
                                    Hành.<br><br>

                                    (2) Sản phẩm bị lỗi phát sinh từ việc sử dụng và/hoặc bảo quản không đúng cách không
                                    thuộc phạm vi Bảo Hành ngay cả trong thời hạn quy định.<br><br>

                                    (3) Chính sách Bảo Hành không áp dụng đối với các phụ kiện sau: vớ, dây giày, xi,
                                    lót giày.<br><br>

                                    (4) Chính sách Bảo Hành không áp dụng đối với sản phẩm mua ở nước ngoài (không
                                    được phân phối bởi Hoàng Phúc Quốc Tế).
                                </div>
                                <div class="product-content-right-bottom-content-description-size">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Show ra các sản phẩm liên quan-->
            <div style="width:100%;" class="product-related">

                <div class=" col l-12 m-12 c-12">
                    <div class="product-related-title">
                        <p>Xem tiếp sản phẩm liên quan</p>
                    </div>
                    <input class="li-active-color" type="hidden" /> <!--Tạo cái hidden để tạo li-active-color cho việc active size khi chọn-->
                </div>







                <div class=" product-content row">

                    @foreach (var item in ViewBag.SPlienquan)
                    {
                        <div class="col l-3 m-3 c-12 product-content-item">
                            @{ Color a = new Color();
                                a = item.productcolorMaster[0];

                                <a href="ShowProductDetailObject?color_id=@a.Id&product_id=@item.Id" class="product">
                                    <img id="product-img-default" class="product-image" src="~/image/product_default_img/@item.DefaultImage" alt="">


                                    <h4 class="product-name">@item.ProductName</h4>
                                </a>
                            }

                            <p style="text-align:center;"><span style="text-decoration:line-through; color:rgb(153,153,153);">@item.RegularPrice <sup>đ</sup></span><span>   </span><span style="color: red;">@item.SalePrice <sup>đ</sup></span></p>
                            <div class="watcher-product">
                                <ul>
                                    @foreach (var index in item.productcolorMaster)
                                    {
                                        <li>

                                            <a>

                                                <img id="color_small_@index.Id" class="img-color-small" src="~/image/product_color/@index.ColorImage" alt="">
                                            </a>
                                        </li>

                                    }
                                </ul>
                            </div>

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<style>


    .li-default-border {
        border: 2px solid rgb(153,153,153);
    }

    .li-active-color {
        border: 2px solid black;
    }

    .li-active-border {
        border: 2px solid black;
    }

    .border-detail {
        border-bottom: 2px solid black;
        position: relative;
        bottom: -2px;
    }
</style>
<script src="~/js/productDetail.js"></script>

<script>
       if (@Model.Gender== 1) {
           $("#gender-name").text("Nam");
       }
       else if (@Model.Gender== 0) {
           $("#gender-name").text("Nữ")
       }
       else {
           $("#gender-name").text("Unisex");
       }
    const detail = document.querySelector(".detail-product");
    const guarantee = document.querySelector(".guarantee-product");

    if (detail) {
        detail.addEventListener("click", function () {
            document.querySelector(".product-content-right-bottom-content-description-detail").style.display = "block";
            document.querySelector(".detail-product").classList.add("border-detail");
            document.querySelector(".guarantee-product").classList.remove("border-detail");
            document.querySelector(".product-content-right-bottom-content-description-guarantee").style.display = "none";

        })
    }

    if (guarantee) {
        guarantee.addEventListener("click", function () {
            document.querySelector(".product-content-right-bottom-content-description-detail").style.display = "none";
            document.querySelector(".detail-product").classList.remove("border-detail");
            document.querySelector(".guarantee-product").classList.add("border-detail");
            document.querySelector(".product-content-right-bottom-content-description-guarantee").style.display = "block";

        })
    }
    //  khi click vao arrow thi hien ra detail
    const buttonArrow = document.querySelector(".product-content-right-bottom-top");
    if (buttonArrow) {
        buttonArrow.addEventListener("click", function () {
            document.querySelector(".product-content-right-bottom-content").classList.toggle("activeB");
        })
    }







      $(".img_1").on("click", function () {


        $("#img_big").removeAttr("src");
        $("#img_big").attr("src", "/image/product_img/@Model.Product_detail_big_img_1");


    });
    $(".img_2").on("click", function () {

        $("#img_big").removeAttr("src");
        $("#img_big").attr("src", "/image/product_img/@Model.Product_detail_big_img_2");
   });
    $(".img_3").on("click", function () {
        $("#img_big").removeAttr("src");
        $("#img_big").attr("src", "/image/product_img/@Model.Product_detail_big_img_3");

    });
    $(".img_4").on("click", function () {
        $("#img_big").removeAttr("src");
        $("#img_big").attr("src", "/image/product_img/@Model.Product_detail_big_img_4");

    });
    $(".img_5").on("click", function () {
        $("#img_big").removeAttr("src");
        $("#img_big").attr("src", "/image/product_img/@Model.Product_detail_big_img_5");

    });
    $(".img_6").on("click", function () {
        $("#img_big").removeAttr("src");
        $("#img_big").attr("src", "/image/product_img/@Model.Product_detail_big_img_6");

    });


    $(".btn_buy").on("click", function () {
        var load_check_size = $("#check_size_empty");
        load_check_size.html("");
        if ($("#load_size").text() == '') {
            var str = '<span style="color:red;"> Vui lòng chọn size* </span>';
            load_check_size.append(str);

            return false;
        }

    });
    $("#add-to-cart").on("click", function () {
        var load_check_size = $("#check_size_empty");
        load_check_size.html("");
        if ($("#load_size").text() == '') {
            var str = '<span style="color:red;"> Vui lòng chọn size* </span>';
            load_check_size.append(str);

            return false;
        }
        else {
            var size_id = $("")
            $.ajax({
                 url: '@Url.Action("AddToCart", "Cart")',
                 type: 'POST',
                 dataType: 'JSON',
                data: { colorId: @color_url, sizeId: $("#size-id").val(), productId: @productid_url, quantity: $("#input_quantity").val() },
                success: function (data) {
                    var cartList = $(".cart__list-list");
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Giỏ hàng được thêm thành công',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setTimeout(()=>location.reload(), 1200);


                }
            })
        }

    });



     $(".li-color").each(function (li_item, index){
        var temp = $(this).val();
        if (@color_url== temp) {
            $(this).removeClass("li-default-border");
            $(this).addClass("li-active-border");
        }

    })


     $(".size-name").each(function (size_item, index) {

            $(this).on("click", function () {
                var size_id = $(this).val();
                $("#size-id").val(size_id)
                console.log($("#input_quantity").val());
                $("#input_quantity").val(1); //Set lại value trogn input
                var load_size = $("#load_size");
                load_size.html("");
                var current = document.getElementsByClassName("li-active-color");
                current[0].className = current[0].className.replace(" li-active-color", "");
                this.className += " li-active-color";
                if ($(this).hasClass("li-default-border")) {
                    $(this).removeClass("li-default-border");
                    $(this).addClass("li-active-color")
                }

                $.ajax({
                    url: '@Url.Action("GetSizeByID","size")',
                    type: "POST",
                    dataType: "JSON",
                    data: { color_id: @color_url, size_id: size_id, product_id: @productid_url  },
                    success: function (data) {
                        data.forEach((element, inde, array) => {

                            var quantity = element.quantity;
                            console.log(quantity);

                            $("#input_quantity").attr({ "max": quantity});
                            var str = '<span id="size-value">' + element.sizeName + '</span>';
                            load_size.append(str);



                        })

                    },
                    error: () => alert("something wrong")

                });





            });







   });
       $("#btn_minus_id").on("click", function () {



           var item = $("#input_quantity").val();
           if ($("#size-value").text() == '') {
               return false;
           }
           else if (item == 1) {


               return false;
           }
           else {
               $("#input_quantity").val(item - 1);
               return true;
           }

       });

       $("#btn_plus_id").on("click", function () {

           var item_max = $("#input_quantity").attr("max");
           var item = $("#input_quantity").val();
           if ($("#size-value").text() == '') {
               return false;
           }
           else if (item == item_max) {
               return false;
           }
           else {
               $("#input_quantity").val(parseInt(item) + parseInt(1));
               return true;
           }

       });


</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
